@media only screen and (max-width: 375px)
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Serif TC", serif;
}


nav {
  position: fixed;
  z-index: 999;
  display: block;
  width: 100%;
  padding: 4px 0;
  box-sizing: border-box;
  top: 0;
  background-color: #f0e1ab;
}
nav ul {
  display: flex;
  vertical-align: middle;
  width: calc(100% - 300px);
  list-style-type: none;
  font-size: 0.7cm;
  font-weight: bold;
  float: left;
  
}
nav ul li {
    display: flex;
    justify-content: flex-start;
}
nav ul li a {
  color: inherit;
  vertical-align: baseline;
  background: transparent;  
}

.shape{
  background-size: contain;
  width: 100%;
  max-width:auto;
  max-height: 16px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
.shape-ex1{
  background-image: url(./主頁/首頁按鈕.png);
}
.shape-ex2{
  background-image: url(./主頁/餐廳一覽按鈕.png);
}
.shape-ex3{
  background-image: url(./主頁/餐廳一覽按鈕.png);
}
.shape-ex1:hover{
    background-image: url(./主頁/關於我們按鈕(滑鼠碰.png);
}

.shape-ex2:hover{
    background-image: url (./主頁/餐廳一覽按鈕(滑鼠碰.png);
}

.shape-ex3:hover{
    background-image: url (./主頁/關於我們按鈕(滑鼠碰.png);
  }

label {
  width: 20px;
  height: 80px;
  background-color: #d1d1d1;
  color: #686666;
  position: absolute;
  /* // 絕對定位在 sideMenu 上 */
  right: -20px;
  top: 0;
  /* //絕對定位垂直置中的技巧 */
  bottom: 0;
  /* //絕對定位垂直置中的技巧 */
  margin: auto;
  line-height: 80px;
  text-align: center;
  border-radius: 0 5px 5px 0;
  box-shadow: 5px 0 5px rgba(23, 23, 54, 0.6);
}
#sideMenu-active:checked .sideMenu label .fas {
  transform: translateX(0);

  transform: scaleX(-1);
}

#sideMenu-active {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.sideMenu {
  width: 300px;
  height: 100%;
  background-color: #ff7575;
  border-right: 3px solid #d1d1d1;
  display: flex;
  flex-direction: column;
  /* //主軸 */
  padding: 50px 0;
  box-shadow: 5px 0 5px rgba(23, 23, 54, 0.6);
  position: relative;
  transform: translateX(-100%);
  transition: 0.5s;
}
