*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Serif SC', sans-serif;
}
nav{
    background-color: #F0E1AB;
}
nav ul{
    display: flex;
    padding-left: 1rem;
    list-style-type: none;
    font-size: large; 
    font-weight: bold;
    float: right;
}
nav ul li{
    display: flex;
}
nav ul li a {
    color:rgb(7, 4, 4);
    text-decoration: none;
    padding: 1.7rem 4rem;
    transition: all 0.25s ease;
}
nav ul li a:hover {
    background-color:rgb(223, 223, 223);
}
  /* .photo {
    position: absolute;
    width: 210px;
    height: 120px;
    left: 50%;
    top: 50%;
    margin-left: -105px;
    margin-top: -60px;
    transform-style: preserve-3d;
    animation: rotateAn
            18s 
            ease-in-out 
            infinite 
            4s;
  }
  @keyframes rotateAn {
    0% {
      transform: rotateY(0);
    }
    16.7% {
      transform: rotateY(60deg);
    }
    33.3% {
      transform: rotateY(120deg);
    }
    50% {
      transform: rotateY(180deg);
    }
    66.7% {
      transform: rotateY(240deg);
    }
    83.3% {
      transform: rotateY(300deg);
    }
    100% {
      transform: rotateY(360deg);
    }
  }
  .photo .example {
    position: absolute;
    width: 210px;
    height: 120px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0,0,0,.5);
    bottom: 0;
    background-color: rgba(253, 121, 168, 1);
}
.photo .example:nth-child(1) {
  transform: rotateY(0) translateZ(280px);
}
.photo .example:nth-child(2) {
  transform: rotateY(60deg) translateZ(280px);
}
.photo .example:nth-child(3) {
  transform: rotateY(120deg) translateZ(280px);
}
.photo .example:nth-child(4) {
  transform: rotateY(180deg) translateZ(280px);
}
.photo .example:nth-child(5) {
  transform: rotateY(240deg) translateZ(280px);
}
.photo .example:nth-child(6) {
  transform: rotateY(300deg) translateZ(280px);
} */
img { 
    position:absolute;height:300px;width:533px;
}
		
img:nth-child(1){transform:rotateY(0deg) translateZ(645px);}
img:nth-child(2){transform:rotateY(45deg) translateZ(645px);}
img:nth-child(3){transform:rotateY(90deg) translateZ(645px);}
img:nth-child(4){transform:rotateY(135deg)  translateZ(645px);}
img:nth-child(5){transform:rotateY(180deg) translateZ(645px);}
img:nth-child(6){transform:rotateY(225deg) translateZ(645px);}
img:nth-child(7){transform:rotateY(270deg) translateZ(645px);}
img:nth-child(8){transform:rotateY(315deg) translateZ(645px);}

.a{
    margin:0 auto;margin-top:120px;
    transform-style: preserve-3d;
    animation:zhuan 30s linear  infinite;height:300px;width:533px;
}
@keyframes zhuan{
                0%{transform:rotateX(-5deg) rotateY(0);}
                100%{transform: rotateX(-5deg) rotateY(360deg);}
            }
