*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Serif SC', sans-serif;
}
nav{
    background-color: #F0E1AB;
}
nav ul{
    display: flex;
    padding-left: 1rem;
    list-style-type: none;
    font-size: large; 
    font-weight: bold;
    float: left;
}
nav ul li{
    display: flex;
}
nav ul li a {
    color:rgb(7, 4, 4);
    text-decoration: none;
    padding: 1.7rem 4rem;
    transition: all 0.25s ease;
}
nav ul li a:hover {
    background-color:rgb(223, 223, 223);
}

img { 
    position:absolute;height:200px;width:350px;
}
		
img:nth-child(1){transform:rotateY(0deg) translateZ(645px);}
img:nth-child(2){transform:rotateY(45deg) translateZ(645px);}
img:nth-child(3){transform:rotateY(90deg) translateZ(645px);}
img:nth-child(4){transform:rotateY(135deg)  translateZ(645px);}
img:nth-child(5){transform:rotateY(180deg) translateZ(645px);}
img:nth-child(6){transform:rotateY(225deg) translateZ(645px);}
img:nth-child(7){transform:rotateY(270deg) translateZ(645px);}
img:nth-child(8){transform:rotateY(315deg) translateZ(645px);}

.a{
    margin:0 auto;margin-top:120px;
    transform-style: preserve-3d;
    animation:zhuan 60s linear  infinite;height:200px;width:350px;
}
@keyframes zhuan{
                0%{transform:rotateX(-5deg) rotateY(0);}
                100%{transform: rotateX(-5deg) rotateY(360deg);}
            }
