@media only screen and (max-width: 768px) * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Serif TC", serif;
}

nav {
  position: fixed;
  z-index: 999;
  width: 100%;
  padding: 19px;
  top: 0;
  left: 0;
  background-color: #f0e1ab;
}
nav ul {
  display: flex;
  padding-left: 1rem;
  list-style-type: none;
  font-size: 0.7cm;
  font-weight: bold;
  float: left;
}
nav ul li {
    display: inline-block;
    padding-right: 40px;
    position: relative;
    overflow: hidden;
}
nav ul li a {
  color: inherit;
  text-decoration: none;
  padding: 1.7rem 4rem;
  background: transparent; 
}

.shape-ex2 {
  width: 100%;;
  height: 100%;
  display: flex;
  color: #000000;
  
  font-family: Noto Serif SC;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.16em;
  color: #000000;
}
.shape-ex2 :after {
  content: "";
  width: 0%;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 0.3s linear;
  border: 0px solid #56876c;
  transform: rotate(180deg);
}
.shape-ex2 :hover::after {
  width: 80%;
  border: 4px solid #56876c;
  transform: rotate(180deg);
}
.shape-ex1 {
  cursor: pointer;
  line-height: 300%;
  color: #56876c;
  background-color: transparent;
  border: 2px solid #56876c;
  box-sizing: border-box;
  transition: all 0.3s linear;
  display: block;
  transition: all 0.3s linear;
  font-color: #56876c;
  border-radius: 30px;
  font-family: Noto Serif SC;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.16em;
}
.shape-ex1:hover {
  background: #56876c;
  border-radius: 30px;
  color: #fff4cf;
}



img {
  position: absolute;
  height: auto;
  max-width: 100%;
  border: 10px solid rgb(255, 255, 255);
  /* padding: 10px; */
}
img:nth-child(1) {
  transform: rotateY(0deg) translateZ(645px);
}
img:nth-child(2) {
  transform: rotateY(45deg) translateZ(645px);
}
img:nth-child(3) {
  transform: rotateY(90deg) translateZ(645px);
}
img:nth-child(4) {
  transform: rotateY(135deg) translateZ(645px);
}
img:nth-child(5) {
  transform: rotateY(180deg) translateZ(645px);
}
img:nth-child(6) {
  transform: rotateY(225deg) translateZ(645px);
}
img:nth-child(7) {
  transform: rotateY(270deg) translateZ(645px);
}
img:nth-child(8) {
  transform: rotateY(315deg) translateZ(645px);
}

.a {
  margin: 0 auto;
  margin-top: 120px;
  transform-style: preserve-3d;
  animation: zhuan 60s linear infinite;
  height: 250px;
  width: 400px;
}
@keyframes zhuan {
  0% {
    transform: rotateX(-5deg) rotateY(0);
  }
  100% {
    transform: rotateX(-5deg) rotateY(360deg);
  }
}

.box {
  width: 90%;
  height: 1.3px;
  background-color: black;
}
.block:hover {
  animation-play-state: paused;
}
