.container {
  width: 1200px;
  height: 600px;
  /* margin: 30px auto; */
  /* position: relative; */
}
.pic {
  width: 400px;
  height: 300px;
  padding: 0px;
  border: 3px wheat solid;
}
/*代表圖片層級，將其設定為最上面的圖層*/
.container img:hover {
  /* box-shadow: 35px 35px 35px rgba(50,50,50,0.8); */
  transform: rotate(0deg) scale(2);
  z-index: 10;
}

.container img {
  border-radius: 60px;
  width: 400px;
  height: 300px;
  /* padding: 5px; */
  /* background-color: rgba(235, 235, 235, 0.068); */
  /* box-shadow: 15px 15px 15px rgba(50,50,50,0.99); */
  position: absolute;
  /*絕對定位--利用Left可以手動調整照片位置*/
  /*加入動畫效果*/
  transition: all 1s ease-in;
}

#pic1 {
  position: absolute;
  transform: rotate(-15deg);
  top: 3rem;
  left: 2rem;
}
#pic2 {
  position: absolute;
  left: 23rem;
  top: 13rem;
  transform: rotate(10deg);
}
#pic3 {
  position: absolute;
  top: 2rem;
  right: 5rem;
  transform: rotate(-5deg);
}
#pic4 {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  transform: rotate(5deg);
}
#pic5 {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  transform: rotate(6deg);
}
#pic6 {
  left: 5rem;
  top: 10rem;
  transform: rotate(-5deg);
}
#pic7 {
  right: 5rem;
  top: 12rem;
  transform: rotate(10deg);
}
#pic8 {
  top: 4rem;
  left: 33rem;
  transform: rotate(1deg);
}
#pic9 {
  left: 15rem;
  top: 15rem;
  transform: rotate(-15deg);
}
#pic10 {
  left: 5rem;
  top: 5rem;
  transform: rotate(-5deg);
}
