@media only screen and (max-width: 768px)
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Serif TC', serif;
    
}
nav {
  position: fixed;
  z-index: 999;
  width: 100%;
  padding: 19px;
  top: 0;
  left: 0;
  background-color: #f0e1ab;
}
nav ul {
  display: flex;
  padding-left: 1rem;
  list-style-type: none;
  font-size: 0.7cm;
  font-weight: bold;
  float: left;
}
nav ul li {
    display: inline-block;
    padding-right: 40px;
    position: relative;
    overflow: hidden;
}
nav ul li a {
  color: inherit;
  text-decoration: none;
  padding: 1.7rem 4rem;
  background: transparent; 
}

.shape{
  font-family: Noto Serif SC;
  max-width:auto;
  vertical-align: middle;
  position: relative;
  display: inline-block;
  position: relative;
  height: 25px;
  line-height: 25px;
  overflow: hidden;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.16em;
  align-items: center;
  text-align: center;
  
}
.shape-ex2 {
  width: 100%;;
  height: 100%;
  display: flex;
  color: #000000;
  font-family: Noto Serif SC;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.16em;
  color: #000000;
}
.shape-ex2 :after {
  content: "";
  width: 0%;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 0.3s linear;
  border: 0px solid #56876c;
  transform: rotate(180deg);
}
.shape-ex2 :hover::after {
  width: 80%;
  border: 4px solid #56876c;
  transform: rotate(180deg);
}
.shape-ex1 {
  cursor: pointer;
  line-height: 300%;
  color: #56876c;
  background-color: transparent;
  border: 2px solid #56876c;
  box-sizing: border-box;
  transition: all 0.3s linear;
  display: block;
  transition: all 0.3s linear;
  font-color: #56876c;
  border-radius: 30px;
  font-family: Noto Serif SC;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.16em;
}
.shape-ex1:hover {
  background: #56876c;
  border-radius: 30px;
  color: #fff4cf;
}


#img1{
    position: absolute;
    left: 30%;
    top:60%;
    height: auto;
    max-width: 100%;
    z-index: 1;
}
#img2{
    position: absolute;
    top: 40%;
    left: 40%;
    z-index: 2;
}
#img3{
    position: absolute;
    top: 90%;
    left: 30%;
    z-index: 3;
}
#img4{
    position: absolute;
    top: 100%;
    left: 50%;
    z-index: 4;
}
#img5{
    position: absolute;
    top: 120%;
    left: 20%;
    z-index: 5;
}
/* .dropdown的hover效果，作用在.dropdown-content上 */
.dropdown:hover .dropdown-content {
    display: block;
}
