*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Serif TC', serif;
    
}
nav{
    background-color: #F0E1AB;
}
nav ul{
    display: flex;
    padding-left: 1rem;
    list-style-type: none;
    font-size: 0.7cm; 
    font-weight: bold;
    float: left;
}
nav ul li{
    display: flex;
}
nav ul li a {
    color:rgb(7, 4, 4);
    text-decoration: none;
    padding: 1.7rem 4rem;
    transition: all 0.25s ease;
    border-bottom: 3px soild  transparent;
    
    
}
nav ul li a:hover {
    background-color: rgba(250, 250, 250, 0.5);    
    /* border-bottom: 3px soild rgb(19, 24, 24); */

}
#img1{
    position: absolute;
    left: 30%;
    z-index: 1;
}
#img2{
    position: absolute;
    top: 25px;
    left: 400px;
    z-index: 2;
}
#img3{
    position: absolute;
    top:450px;
    left: 200px;
    z-index: 3;
}
#img4{
    position: absolute;
    top:500px;
    right: 600px;
    z-index: 4;
}
#img5{
    position: absolute;
    top:720px;
    left: 370px;
    z-index: 5;
}